<style>
    .about-exp { 
        display: -ms-flexbox;
        display: flex;
        -ms-flex-wrap: wrap;
        flex-wrap: wrap;
        margin-right: -15px;
        margin-left: -15px;
        }
    .about-exp h3 {
        border-left: 0;
        padding: 0;
        font-size: 20px;
        margin: 0px 0;
        

    }
    .about-exp p {
        border-left: 0;
        padding: 0;
        margin: 0px 0;
    
    }

    @media (min-width: 1023px){
    .col-md-6 {
        -ms-flex: 0 0 50%;
        flex: 0 0 50%;
        max-width: 50%;
    }
    }
    @media (min-width: 1023px) and (max-width: 1518px){
    .timeline {
        padding-left: 30px !important;
    }
    }
    @media (min-width: 1518px){
    .timeline {
        padding-left: 60px !important;
    }
    }
    
    .col-md-6 {
        
        display: block;
        position: relative;
        width: 100%;
        padding-right: 15px;
        padding-left: 15px;
    }
    .edu {
        padding: 30px;
        position: relative;
    }
    .com{
        padding: 30px;
        position: relative; 
    }
    .timeline {
        padding-left: 30px;
        margin-bottom: 20px;
        position: relative;
        background-color: inherit;
        width: 100%;
    }
    .timeline .content .time {
        color: #A6D7FB;
        font-size: 14px;
    }
    
</style>

<div class="about-exp">

    <div class="col-md-6">

        <div class="edu">


            <div class="timeline fadeIn animated" style="visibility: visible;">
                <div class="content">
                    <span class="time">2019</span>
                    <h3 class="title">MS. Information System</h3>
                    <p>University of Washginton</p>
                </div>
            </div>

            <div class="timeline fadeIn animated" style="visibility: visible; animation-delay: 0.2s;">
                <div class="content">
                    <span class="time">Self Learning</span>
                    <h3 class="title">Data Scientist Nanodegree</h3>
                    <p>Udacity</p>
                </div>
            </div>


            <div class="timeline fadeIn animated" style="visibility: visible; animation-delay: 0.4s;">
                <div class="content">
                    <span class="time">2011</span>
                    <h3 class="title">BFA. Industrial Design</h3>
                    <p> University of Kansas</p>
                </div>
            </div>


        </div>

    </div>

    <div class="col-md-6">


        <div class="com">

 
            <div class="timeline fadeIn animated" style="visibility: visible;">
                <div class="content">
                    <span class="time">2019 - Present</span>
                    <h3 class="title">Data Analysis PM</h3>
                    <p>Microsoft Azure Sphere Team</p>
                </div>
            </div>

 
            <div class="timeline fadeIn animated" style="visibility: visible; animation-delay: 0.2s;">
                <div class="content">
                    <span class="time">2013 - 2018</span>
                    <h3 class="title">Product Manager</h3>
                    <p>Harbin Bank</p>
                </div>
            </div>

            <div class="timeline fadeIn animated" style="visibility: visible; animation-delay: 0.4s;">
                <div class="content">
                    <span class="time">2011-2012</span>
                    <h3 class="title">Interaction Designer</h3>
                    <p>Tencent</p>
                </div>
            </div>

        </div>

    </div>

</div>