<style>
    .row {
        display: flex;
        flex-wrap: wrap;
        margin-right: -15px;
        margin-left: -15px;
    }
    @media (min-width: 1519px) {
    .col-md-4 {
        -ms-flex: 0 0 33.333333%;
        flex: 0 0 33.333333%;
        max-width: 33.333333%;
    }
    }   
    .col-md-4 {
        position: relative;
        width: 100%;
        padding-right: 15px;
        padding-left: 15px;
        display: block;
    }
    .skill {
        padding: 30px;
        border-radius: 20px !important;
        transition: all 0.3s ease-in-out;
        text-align: center!important;
    }
    .skill h3 {
        border-left: 0;
    }
    
    
</style>

    

<div class="about-skills  fadeIn animated">

    <div class="row">
        <div class="col-md-4">

            <div class="skill">
                <img src="../img/sci.png" alt="UI/UX design" style="height: 80px">
                <h3 class="mb-3 mt-0">Data Scientist</h3>
                <p class="mb-0">SQL, Python, R, Power BI, Tableau, ETL Pipeline, Excel, HTML Dashboard Machine Learning, Nature Language Processing, Web Crawler, Keras</p>
            </div>
            <div class="spacer d-md-none d-lg-none" data-height="30" style="height: 30px;"></div>
        </div>
        <div class="col-md-4">

            <div class="skill">
                <img src="../img/files.png" alt="UI/UX design" style="height: 80px">	
                <h3 class="mb-3 mt-0">Project Management</h3>
                <p class="mb-0">Agile, Lean, Six Sigma, Azure Devops, Jira, Business Process Mapping, Process Optimization, KPI/ORK</p>
            </div>
            <div class="spacer d-md-none d-lg-none" data-height="30" style="height: 30px;"></div>
        </div>
        <div class="col-md-4">
            
            <div class="skill">
                <img src="../img/paint.png" alt="UI/UX design" style="height: 80px">
                <h3 class="mb-3 mt-0">UX Research</h3>
                <p class="mb-0">User Research, A/B Testing, Journey Map, Usability Test, Funnel analysis, Google Analytics</p>
            </div>
            <div class="spacer d-md-none d-lg-none" data-height="30" style="height: 30px;"></div>
        </div>


    </div>

</div>


<script>

</script>